<div class="col-md-12">
	<div class="float-left">
		<span class="head-article">
			<% if @role.nil? %>
				Users
			<% else %>
				<%= @role.pluralize.humanize %> 
			<% end %> List
		</span>
	</div>
	<div class="float-right">
		<div class="btn-group float-right">
		  <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		    Filter
		  </button>
		  <div class="dropdown-menu">
		    <%= link_to 'All', profiles_path, class: 'dropdown-item' %>
            <%= link_to 'Moderators', profiles_path(:val => 1), class: 'dropdown-item' %>
            <%= link_to 'Users', profiles_path(:val => 2), class: 'dropdown-item' %>
		  </div>
		</div>
	</div>
</div>
<div class="clearfix top10"></div>
<div class="col-md-12">
	<% @users.each do |user|%>
		<div class="users-font card">
	  		<div class=" users-font card-header col-md-12">
	  			<div></div>
		  		<%= link_to user.email, profile_path(user.profile.id), target: '_blank' %> (<%= user.role.humanize %>)
		  		<% if user.user? %>
		  			<div class="float-right"><%= link_to '', profiles_rank_path(:id => user.id), class: 'fa fa-hand-o-up user-detail-head text-success col-md-2', title: 'Rank-Up' %></div>
		  			
		  		<% elsif user.moderator? %>
		  			<div class="float-right"><%= link_to '', profiles_rank_path(:id => user.id), class: 'fa fa-hand-o-down user-detail-head text-danger col-md-2', title: 'Rank-Down' %></div>
		  			
		  		<% end %>
		  			
	  		</div>
			<div class="card-body">
		    	<% if user.profile.image.nil? %>
		    		<%= image_tag(image_path('avatar.png'), height: '30') %>
		    	<% else %>
		    		<%= image_tag "/profiles/images/#{user.profile.image.name}", height: '30' %>
		    	<% end %>
			    <%= user.profile.public_email %>
			    <p class="card-text">Posted <%= user.articles.count %> articles</p>
			    <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
		  	</div>
	   	</div><br>
	<% end %>	
</div>

<div class="top10">
      <%= will_paginate @users, renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>
</div>