<div class="col-md-12">
	<div class="float-left">
		<span class="head-article">
			<% if @role.nil? %>
				Users
			<% else %>
				<%= @role.pluralize.humanize %> 
			<% end %> List
		</span>
	</div>
	<div class="float-right">
		<div class="btn-group float-right">
		  <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		    Filter
		  </button>
		  <div class="dropdown-menu">
		    <%= link_to 'All', profiles_path, class: 'dropdown-item' %>
            <%= link_to 'Moderators', profiles_path(:val => 1), class: 'dropdown-item' %>
            <%= link_to 'Users', profiles_path(:val => 2), class: 'dropdown-item' %>
		  </div>
		</div>
	</div>
</div>
<div class="clearfix top10"></div>
<div class="col-md-12">
	<% if @users.empty? %>
		<div>
          <h2 class="text-danger text-center">No Users Found</h2>
        </div>
    <% else %>
		<% @users.each do |user|%>
			<div class="users-font card" >
		  		<div class=" users-font card-header col-md-12"id="user-list">
		  			<%= link_to (user.profile.name.nil? ? (user.profile.public_email.nil? ? user.email.split('@')[0] : user.profile.public_email.split('@')[0]) : user.profile.name), profile_path(user.profile.slug ? user.profile.slug : user.profile.id), target: '_blank', class: "standard-link text-info" %>
		  			(<%= user.role.humanize %>)
			  		<% if user.user? %>
			  			<div class="float-right"><%= link_to '', profiles_rank_path(:id => user.id), class: 'fa fa-hand-o-up icon2 text-success col-md-2', title: 'Make Moderator' %></div>
			  			
			  		<% elsif user.moderator? %>
			  			<div class="float-right"><%= link_to '', profiles_rank_path(:id => user.id), class: 'fa fa-hand-o-down icon2 text-danger col-md-2', title: 'Make User' %></div>
			  			
			  		<% end %>
			  			
		  		</div>
				<div class="card-body">
					<% if user.profile.image.present? && !user.profile.image.image_file_name.nil? %>
		              	<%= image_tag user.profile.image.image.url, class: "author-img" %>
		            <% else %>
		              	<%= image_tag(image_path('avatar.jpg'), class: "author-img") %>
		            <% end %>

				    <%= user.profile.public_email %>
				    <% no_of_articles = user.articles.count %>
			          <% if no_of_articles > 0 %>
			              <p class="card-text">Posted <%= no_of_articles %> articles</p>
			          <% else %>
			            <p class="card-text">No Articles Posted</p>
			          <% end %>
				    
				    <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
			  	</div>
		   	</div><br>
		<% end %>	
	<% end %>
</div>

<div class="top10">
      <%= will_paginate @users, renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>
</div>