<div class="col-md-12 col-lg-12 main-content user-font">
  <div>
    <!-- <div class="fb-profile-text user-name"> -->
      <% if @profile %>
        <span class="dashboard"><%= @profile.name %> </span>
      <% else %>
        <span class="dashboard">Profile</span>
      <% end %>
    <!-- </div> -->
      
  </div>
  <hr>
  <% if @profile %>
    <% user = @profile.user %>
    <div class="container-fluid">
      <div class="row">
        <div class="fb-profile row">
            <div class="col-md-12">
              <%= image_tag(image_path('cover.jpg'), class: 'fb-image-lg align-left') %>
              <% if @profile.image.present? && !@profile.image.image_file_name.nil? %>
                <%= image_tag @profile.image.image.url, class: 'fb-image-profile thumbnail' %>
              <% else %>
                <%= image_tag(image_path('avatar.jpg'), class: 'fb-image-profile thumbnail') %>
              <% end %>
              <% if signed_in? && (current_user == @author || @profile == current_user.profile) %>
                  <button type="button" class="fa fa-pencil-square-o  icon2" data-toggle="modal" data-target="#profile-image"></button>
                  
              <% end %>  
            </div>
        </div>
      </div>
    </div>

    <div class="container row">

      <div class="col-sm-8">
          <div data-spy="scroll" class="tabbable-panel">
            <div class="tabbable-line">
              <span class="user-bio-head">Bio</span>
              <% if signed_in? && (current_user == @author || @profile == current_user.profile) %>
                <button type="button" class="fa fa-pencil-square-o float-right icon2 mt-2" data-toggle="modal" data-target="#bio"></button>
              <% end %>
              <div class="tab-content">
                <div class="tab-pane active " id="tab_default_1">
                  <div class="user-content">
                    <%= raw @profile.bio %>
                  </div>
                </div>
              </div>
            </div>
          </div>
      </div>

      <div class="col-sm-4">
        <div class="panel panel-default">
          <div class="menu_title ">
           <span class="">Profile Details</span>
           <% if signed_in? && (current_user == @author || @profile == current_user.profile) %>
            <button type="button" class="fa fa-pencil-square-o icon2 mt-2" data-toggle="modal" data-target="#profile"></button>
           <% end %>
          </div>
          <div class="panel-body">
            <div class="row">
              <div class="col-lg-12">
                <div>
                    <label class="user-detail-label">Public Email :</label>
                    <span class="user-content"><%= @profile.public_email%></span>
                </div>
                <div>
                    <label class="user-detail-label">Profession :</label>
                    <span class="user-content"><%= @profile.profession %></span>
                </div>
                <div>
                    <label class="user-detail-label">Organization :</label>
                    <span class="user-content"><%= @profile.organization %></span>
                </div>
                <div>
                    <label class="user-detail-label">Location :</label>
                    <span class="user-content"><%= @profile.location %></span>
                </div>
                <div>
                    <label class="user-detail-label">Country :</label>
                    <span class="user-content"><%= @profile.country %></span>
                </div>

                <div class="form-group">
                    <label class="user-detail-label">Social Media Links :</label>
                    <% if signed_in? && (current_user == @author || @profile == current_user.profile) %>
                      <button type="button" class="fa fa-pencil-square-o float-right icon2 mt-1 mr-4" data-toggle="modal" data-target="#social-media"></button>
                    <% end %>
                    <br>
                    <div>
                        <% if @profile.facebook.present? %>
                            <span class="mx-2"><%=link_to '', @profile.facebook, class: 'fa fa-facebook', style: 'color:#037ae0' %></span>
                        <% end %>
                        <% if @profile.twitter.present? %>
                            <span class="mx-2"><%=link_to '', @profile.twitter, class: 'fa fa-twitter', style: 'color:skyblue' %></span>
                        <% end %>
                        <% if @profile.instagram.present? %>
                            <span class="mx-2"><%=link_to '', @profile.instagram, class: 'fa fa-instagram', style: 'color:#ec7f9e' %></span>
                        <% end %>
                        <% if @profile.linkedin.present? %>
                            <span class="mx-2"><%=link_to '', @profile.linkedin, class: 'fa fa-linkedin', style: 'color:darkblue' %></span>
                        <% end %>
                        <% if @profile.youtube.present? %>
                            <span class="mx-2"><%=link_to '', @profile.youtube, class: 'fa fa-youtube', style: 'color:red' %></span>
                        <% end %>
  
                    </div>
                    
                </div>
                
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-sm-8 ">
        <span class="user-bio-head">GeeksHub Activities</span><hr>
        <div>
          <% no_of_articles = user.articles.count %>
          <% if no_of_articles > 0 %>
            <span class="user-detail-label ">Article Posted : 
              <%= link_to no_of_articles, articles_user_articles_path(user_id: user), class: "standard-link text-info" %>
            </span>
          <% else %>
            <span class="user-detail-label ">No Articles Posted</span>
          <% end %>
          <% if user.articles.count >= 10 && user.user? %>
            <% if user.moderator_request == true %>
              <br><span class="user-detail-label text-success"> Your have requested to be Moderator </span>
            <% else %>
              <br><span class="user-detail-label text-danger" id="rank-request-link">You are now eligible to be a Moderator <%= link_to 'Request here',profiles_rank_request_path(id: @profile.id, user_id: user), class: 'text-info', remote: true %></span>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  <% else %>
    <%= link_to 'Go to Dashboard', profile_path(current_user.profile), class: 'btn btn-info'  %>
  <% end %>
</div>

<!-- Bio Edit -->

<div class="modal fade" id="bio">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Edit Bio</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <%= form_for @profile, html: { id: :bio_form } do |f| %>
        <div class="modal-body">
          <div class="form-group">
            <%= f.label :write_about_yourself, class: 'label' %>
            <%= f.cktext_area :bio,
            hint: "leave it blank if you don't want to add it",
            required: false,
            class: 'form-control' %> 
            <p class='error' id="bio-error"><%= show_errors(@profile , :bio) %></p> 
          </div>
        </div>
        <div class="modal-footer text-center">
          <%= f.button 'Update Bio', type: :button, class: 'btn btn-success', id: "bio-validate" %>
        </div>
      <% end %>

    </div>
  </div>
</div>

<!-- End --> 

<!-- Profile Edit -->

<div class="modal fade" id="profile">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Edit Profile</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <%= form_for @profile, html: { id: :profile_details_form } do |f| %>
        <div class="modal-body">
          <div class="form-inputs">
            <div class="form-group row">

              <div class="col-md-4"><%= f.label :name, class: 'label' %><span class="text-danger">*</span></div>
              <div class="col-md-8" id="name-div"><%= f.text_field :name, required: false,
                autofocus: true, class: 'form-control', validate: { presence: true } %>
                <p class='error' id="name-error"><%= show_errors(@profile , :name) %></p>
              </div>
              
            </div>

            <div class="form-group row">
              <div class="col-md-4"><%= f.label :public_email, class: 'label' %><span class="text-danger">*</span></div>
              <div class="col-md-8" id="public-email-div"><%= f.text_field :public_email, required: false,
                hint: "leave it blank if you don't want to add it",
                class: 'form-control' %>
                <p class='error' id="public-email-error"><%= show_errors(@profile , :public_email) %></p>
              </div>
              
            </div>

            <div class="form-group row">
              <div class="col-md-4"><%= f.label :location, class: 'label' %></div>
              <div class="col-md-8"><%= f.text_field :location,
                hint: "leave it blank if you don't want to add it",
                required: false, class: 'form-control' %>
                <p class='error'><%= show_errors(@profile , :location) %></p>
              </div>
              
            </div>

            <div class="form-group row">
              <div class="col-md-4"><%= f.label :country, class: 'label' %></div>
              <div class="col-md-8"><%= f.text_field :country,
                hint: "leave it blank if you don't want to add it",
                required: false, class: 'form-control' %>
                <p class='error'><%= show_errors(@profile , :country) %></p>
              </div>
              
            </div> 

            <div class="form-group row">
              <div class="col-md-4"><%= f.label :profession, class: 'label' %></div>
              <div class="col-md-8"><%= f.text_field :profession,
                hint: "leave it blank if you don't want to add it",
                required: false, class: 'form-control' %>
                <p class='error'><%= show_errors(@profile , :profession) %></p>
              </div>
              
            </div>

            <div class="form-group row">
              <div class="col-md-4"><%= f.label :organization, class: 'label' %></div>
              <div class="col-md-8"><%= f.text_field :organization,
                hint: "leave it blank if you don't want to add it",
                required: false, class: 'form-control' %> 
                <p class='error'><%= show_errors(@profile , :organization) %></p> 
              </div>
              
            </div>
            <div class="modal-footer text-center">
              <%= f.button 'Update Profile Details', type: :button, class: 'btn btn-success', id: "profile-validate" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- End -->

<!-- Social Media -->

<div class="modal fade" id="social-media">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Edit Social Media</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
    
      <%= form_for @profile, html: { id: :social_media_form } do |f| %>
        <div class="modal-body">
          <div class="form-group">
            <%= f.label :social_media_links, class: 'label' %>
              
              <div class="row">
                <div class="col-md-2"><%= f.label :facebook, class: 'label' %></div>
                <div class="col-md-9"><%= f.text_field :facebook,
                hint: "leave it blank if you don't want to add it",
                required: false,
                class: 'form-control' %> </div>
                <p class='error'><%= show_errors(@profile , :facebook) %></p> 
              </div>

              <div class=" row">
                <div class="col-md-2"><%= f.label :twitter, class: 'label' %></div>
                <div class="col-md-9"><%= f.text_field :twitter,
                hint: "leave it blank if you don't want to add it",
                required: false,
                class: 'form-control' %> </div>
                <p class='error'><%= show_errors(@profile , :twitter) %></p> 
              </div>

              <div class=" row">
                <div class="col-md-2"><%= f.label :instagram, class: 'label' %></div>
                <div class="col-md-9"><%= f.text_field :instagram,
                hint: "leave it blank if you don't want to add it",
                required: false,
                class: 'form-control' %> </div>
                <p class='error'><%= show_errors(@profile , :instagram) %></p> 
              </div>

              <div class=" row">
                <div class="col-md-2"><%= f.label :linkedin, class: 'label' %></div>
                <div class="col-md-9"><%= f.text_field :linkedin,
                hint: "leave it blank if you don't want to add it",
                required: false,
                class: 'form-control' %> </div>
                <p class='error'><%= show_errors(@profile , :linkedin) %></p> 
              </div>

              <div class=" row">
                <div class="col-md-2"><%= f.label :youtube, class: 'label' %></div>
                <div class="col-md-9"><%= f.text_field :youtube,
                hint: "leave it blank if you don't want to add it",
                required: false,
                class: 'form-control' %> </div>
                <p class='error'><%= show_errors(@profile , :youtube) %></p> 
              </div>
            </div>
            <p id="social-media-error"></p>
          </div>

          <div class="modal-footer text-center">
            <%= f.button 'Update Social Media', type: :button, class: 'btn btn-success', id: "social-media-validate" %>
          </div>

        <% end %>
      </div>
    </div>
  </div>

<!-- End -->

<!-- Profile Pic Edit -->

<div class="modal fade" id="profile-image">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Edit Profile Picture</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
    
      <%= form_for @profile, html: { id: :image_form } do |f| %>
      <div class="modal-body">
        <div class="form-group">
          <%= f.label :profile_picture, class: 'label' %><br>
          <% unless @profile.image.nil? %>
            <%= image_tag @profile.image.image.url, height: '180', width: '200' %>
          <% end %>
          <%= f.hidden_field :id %>  
          <%= f.file_field :image, required: true, autofocus: true, class: 'form-control ',  title: 'Choose Picture' %>
          
          <p class='error' id="image-error"><%= show_errors(@profile , :image) %></p>
        </div>
      </div>
      <div class="modal-footer text-center">
        <%= f.button 'Update Profile Picture', type: :button, class: 'btn btn-success', id: "image-validate" %>
      </div>
      <% end %>
    </div>
  </div>
</div>
