<div class="col-md-9">
  <div class="article-title-font">Edit <%= resource_name.to_s.humanize %></div>

  <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), html: { method: :patch }) do |f| %>

    <% if resource.errors.any? %>
      <div id="error_explanation" class="alert" style="text-align: center; color: red;">
        <h2><%= pluralize(resource.errors.count, "error") %> Prohibited this User from being saved:</h2>

        <ul>
          <% resource.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
            <% end %>
        </ul>
      </div>
    <% end %>


    <div class="form-inputs">
      <div class="form-group">
        <%= f.label :name, class: 'label' %>
        <%= f.text_field :name, required: false, autofocus: true, class: 'form-control' %>
        <p class='error'><%= show_errors(resource , :name) %></p>
      </div>

      <div class="form-group">
        <%= f.label :public_email, class: 'label' %>
        <%= f.text_field :public_email, required: false,
                      hint: "leave it blank if you don't want to add it",
                      class: 'form-control' %>
        <p class='error'><%= show_errors(resource , :public_email) %></p>
      </div>

      <div class="form-group">
          <%= f.label :location, class: 'label' %>
          <%= f.text_field :location,
                    hint: "leave it blank if you don't want to add it",
                    required: false,
                    class: 'form-control' %>
          <p class='error'><%= show_errors(resource , :location) %></p>
      </div>

      <div class="form-group">
          <%= f.label :country, class: 'label' %>
          <%= f.text_field :country,
                    hint: "leave it blank if you don't want to add it",
                    required: false,
                    class: 'form-control' %>
          <p class='error'><%= show_errors(resource , :country) %></p>
      </div>   
       
      <div class="form-group">
          <%= f.label :profession, class: 'label' %>
          <%= f.text_field :profession,
                  hint: "leave it blank if you don't want to add it",
                  required: false,
                  class: 'form-control' %>    
          <p class='error'><%= show_errors(resource , :profession) %></p>
      </div>

      <div class="form-group" id="text">
          <%= f.label :organization, class: 'label' %>
          <%= f.text_field :organization,
                  hint: "leave it blank if you don't want to add it",
                  required: false,
                  class: 'form-control' %>  
        <p class='error'><%= show_errors(resource , :organization) %></p>  
      </div>
    </div>

    <div id="pwd-change" class="collapse">
        <div class="form-group">
            <%= f.label :new_password, class: 'label' %>
            <%= f.password_field :password,
                    hint: "we need your current password to confirm your changes",
                    required: false,
                    class: 'form-control' %>
            <p class='error'><%= show_errors(resource , :password) %></p>    
        </div>

        <div class="form-group">
            <%= f.label :confirm_password, class: 'label' %>
            <%= f.password_field :password_confirmation,
                    hint: "we need your current password to confirm your changes",
                    required: false,
                    class: 'form-control' %>  
            <p class='error'><%= show_errors(resource , :password_confirmation) %></p>  
        </div>
    </div>

      <div class="form-group">
          <%= f.label :current_password, class: 'label' %>
          <%= f.password_field :current_password,
                  hint: "we need your current password to confirm your changes",
                  required: true,
                  input_html: { autocomplete: "current-password" }, class: 'form-control' %>
          <p class='error'><%= show_errors(resource , :current_password) %></p>    
      </div>

      <div class="form-group">
        <%= f.submit "Submit", class: 'btn btn-success  ' %>
      </div>
      
  <% end %>

  <div>Unhappy? <%= link_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></div>
  <div>
    <a href="#test" data-toggle="collapse" data-target="#pwd-change">Change Password</a> |
    <%= link_to "Back", :back %>  
  </div>

</div>