<div class="comment-div"> 

 	By 
 	<% unless comment.user.nil? %>
	 	<b><%=comment.user.email %> |
	   	<%= time_ago_in_words(comment.created_at) %> ago </b>
   	<% end %>
 	
 
 	<div class="comment-content">
	  	<%= comment.content %>
 	</div>
 	<div class="comment-reply">
 		<% if comment.ancestry.nil? %>
	  		<a class="fa fa-reply text-info" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Reply</a>
	  	<% end %>
	  	<% if current_user == @article.user || current_user == comment.user %> |
	  		<%= link_to "Delete", article_comment_path(@article, comment), :data => {:confirm => 'Delete Message?'}, method: :delete, class: "fa fa-trash-o text-danger" %> 
	  		<% byebug %>
	  	<% end %>
	  	<% unless comment.id.nil? %>
	  	 	<div class="dropdown-menu  col-md-7 reply-form" aria-labelledby="navbarDropdown" >
		  		<%= form_for [@article, comment.children.build] do |f| %> 
			    <%= f.text_area :content,:placeholder => "Replay to.. ", class: "comment-field col-md-12" %>
			    <%= f.hidden_field :parent_id %>   
			    <%= f.submit "Reply", class: "fa fa-reply btn btn-success btn-sm " %>
			    <a class="fa fa-cancel btn btn-info btn-sm" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="false" aria-expanded="false">Cancel</a>
		  		<% end %>
		  	</div>         
		<% end %>	
 	</div>
 
</div>



























