<div id="article-form">
  <%= form_for @article do |f| %>
    <div>
      <div class="form-group row">
        <div class="col-md-3"><%= f.label :title, class: 'label', wrapper: false %></div>
        <div class="col-md-8">
          <%= f.text_field :title, class: 'form-control', wrapper: false, maxlength: 40 %>
          <p id="title-length"></p>
          <p class='error'><%= show_errors(@article, :title) %></p>
        </div>
        
      </div>

      <div class="form-group row">
        <div class="col-md-3"><%= f.label :tag_list, 'Tags (Separated by commas)', class: 'label', wrapper: false %></div>
        <div class="col-md-8">
          <%= f.text_field :tag_list, class: 'form-control', wrapper: false, value: @article.tag_list.join(','), data: { role: 'tagsinput' } %>
          <p class='error'><%= show_errors(@article, :tag_list) %></p>
        </div>
      </div>

      <div class="form-group row">
        <div class="col-md-3"><%= f.label "Thumbnail Image", class: 'label', wrapper: false %></div>
        <div class="col-md-8">
          <%= f.file_field :image, class: 'form-control' %>
          <p class='error'><%= show_errors(@article, :image) %></p>
        </div>
      </div>
      <div class="form-group row col-md-12">
        <%= f.label :content, class: 'label', wrapper: false %>
        <%= f.cktext_area :content, class: 'form-control' %>
        <p class='error'><%= show_errors(@article, :content) %></p>
      </div>
    </div>

    <div class="form-group">
      <%= f.submit 'Create Article', class: 'btn btn-success'  %>
    </div>
  <% end %>
  
</div>
