
<%= simple_form_for(@article) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div style="margin-top: 20%;">
    <div class="form-group">
      <%= f.label :title, class: 'label', wrapper: false %>:
      <%= f.text_field :title, class: 'form-control', wrapper: false %>
    </div>
    
    <div class="form-group">
      <%= f.label :content, class: 'label', wrapper: false %>:
      <%= f.cktext_area :content, class: 'form-control' %>
    </div>
    
    <!-- <div class="form-group">
      <%= f.input :status %>  
    </div> -->
    
  </div>

  <div class="form-group">
    <%= f.button :submit  %>
  </div>
<% end %>
