<div class="col-md-12">
	<div class="float-left">
		<span class="head-article">
			<% if @status.nil? %>
				All Articles
			<% else %>
				<%= @status.humanize %> Articles
			<% end %>
		</span>
	</div>
	<div class="float-right">
		<div class="btn-group float-right">
		  <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		    Filter
		  </button>
		  <div class="dropdown-menu">
		    <%= link_to 'All', articles_article_list_path, class: 'dropdown-item' %>
            <%= link_to 'Pending', articles_article_list_path(:status => 0), class: 'dropdown-item' %>
            <%= link_to 'Moderator Approved', articles_article_list_path(:status => 1), class: 'dropdown-item' %>
            <%= link_to 'Approved', articles_article_list_path(:status => 2), class: 'dropdown-item' %>
            <%= link_to 'Declined', articles_article_list_path(:status => 3), class: 'dropdown-item' %>
		  </div>
		</div>
	</div>
</div>
<div class="clearfix top10"></div>
<div class="col-md-12" id="article-list">
	<% if @articles.empty? %>
        <div>
          <h2 class="text-danger text-center">No Articles Found</h2>
        </div>
      <% else %>
		<% @articles.each do |article|%>
				<div class="users-font card">
			   		<div class="card-header users-font">
			   			<div class="float-left" id="article-title">
			   				<%= article.title %>&nbsp;(<%= article.status.humanize %>)	
			   			</div>
				  		
				  		<div class="float-right col-md-4 text-right" id="modify-status">
				  			<% unless article.approved? %>
					  			<% if article.moderator_approved? %>
				            		<span class="icon2"><%= link_to '', articles_modify_status_path(:id => article), class: 'fa fa-check text-info', style: 'vertical-align: middle;', title: 'Approve Article', remote: true %> </span> |
						        <% else %>
						        	<span class=" icon2"><%= link_to '', articles_modify_status_path(:id => article), class: 'fa fa-check text-success', style: 'vertical-align: middle;', title: 'Approve Article', remote: true %> </span> |
					            <% end %>

				            <% end %>
				            <% unless article.declined? %>
				            	<span class="icon2">
				            		<%= link_to '', articles_modify_status_path(:id => article, :status => :declined), class: 'fa fa-ban text-warning', style: 'vertical-align: middle;', title: 'Decline Article', remote: true %> 
				            	</span> |
				            <% end %> 

				           	<span class="icon2">
				           		<%= link_to '', article_path(article), method: :delete, data: { confirm: 'Are You Sure To Delete This Article ?'}, class: 'fa fa-trash text-danger', style: 'vertical-align: middle;', title: 'Delete Article', remote: true %> 
				           	</span> 
						</div>
			  		</div>
		  			<a href="<%= article_path(article.id) %>" target="blank">
						<div class="card-body">
							<div class="col-md-2">
								<% if article.image.present? && !article.image.image_file_name.nil? %>
					                <%= image_tag article.image.image.url, class: 'img-fluid img-thumbnail' %>
					            <% else %>
					                <%=image_tag(image_path('default_article.jpg'), class: 'img-fluid img-thumbnail') %>
					            <% end %>
							</div>
					    	
						    <div class="card-text float-right">
						    	<% if article.tag_list.present? %>
					              	<ul class="tags">Tags:
					                	<%= raw article.tag_list.map { |t| %>
					                    <span class="tag"><%= t %></span><% }.join(' ') %>
					              	</ul>
				             	<% end %>
				          	</div>
					  	</div>
				  	</a>  
			   	</div><br>
		<% end %>
	<% end %>
</div>

<div class="top10">
      <%= will_paginate @articles, renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>
</div>