<div class="col-md-12">
	<div class="float-left">
		<span class="head-article">
			<% if @status.nil? %>
				All Articles
			<% else %>
				<%= @status.humanize %> Articles
			<% end %>
		</span>
	</div>
	<div class="float-right">
		<div class="btn-group float-right">
		  <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		    Filter
		  </button>
		  <div class="dropdown-menu">
		    <%= link_to 'All', articles_article_list_path, class: 'dropdown-item' %>
            <%= link_to 'Pending', articles_article_list_path(:status => 0), class: 'dropdown-item' %>
            <%= link_to 'Moderator Approved', articles_article_list_path(:status => 1), class: 'dropdown-item' %>
            <%= link_to 'Approved', articles_article_list_path(:status => 2), class: 'dropdown-item' %>
            <%= link_to 'Declined', articles_article_list_path(:status => 3), class: 'dropdown-item' %>
		  </div>
		</div>
	</div>
</div>
<div class="clearfix top10"></div>
<div class="col-md-12" id="article-list">
	<% if @articles.empty? %>
        <div>
          <h2 class="text-danger text-center">No Articles Found</h2>
        </div>
      <% else %>
		<% @articles.each do |article|%>
				<div class="users-font card">
			   		<div class="card-header users-font">
			   			<div class="float-left" id="article-title">
			   				<%= link_to article.title, article, class: 'text-info' %>&nbsp;(<%= article.status.humanize %>)	
			   			</div>
			   			<div class="float-left ml-3">
					      	<% unless article.reports.empty? %>
					      		<a href="<%= article_reports_path(article_id: article.id) %>"><span class="text-danger fa fa-exclamation-circle"> <%= article.reports.count %> </span></a>
					      	<% end %>
					    </div>
				  		
				  		<div class="float-right col-md-4 text-right" id="modify-status">
				  			<% unless article.approved? %>
					  			<% if article.moderator_approved? %>
				            		<span class="icon2"><%= link_to '', articles_modify_status_path(:id => article), class: 'fa fa-check text-info', style: 'vertical-align: middle;', title: 'Approve Article' %> </span> |
						        <% else %>
						        	<span class=" icon2"><%= link_to '', articles_modify_status_path(:id => article), class: 'fa fa-check text-success', style: 'vertical-align: middle;', title: 'Approve Article' %> </span> |
					            <% end %>

				            <% end %>
				            <% unless article.declined? %>
				            	<span class="icon2">
				            		<%= link_to '', articles_modify_status_path(:id => article, :status => :declined), class: 'fa fa-ban text-warning', style: 'vertical-align: middle;', title: 'Decline Article' %> 
				            	</span> |
				            <% end %> 

				           	<span class="icon2">
				           		<%= link_to '', article_path(article), method: :delete, data: { confirm: 'Are You Sure To Delete This Article ?'}, class: 'fa fa-trash text-danger', style: 'vertical-align: middle;', title: 'Delete Article' %> 
				           	</span> 
						</div>
			  		</div>
		  			<!-- <a href="<%= article_path(article.id) %>" target="blank"> -->
						<div class="card-body row">
							<div class="col-md-3">
								<% if article.image.present? && !article.image.image_file_name.nil? %>
					                <%= image_tag article.image.image.url, class: 'img-fluid img-thumbnail' %>
					            <% else %>
					                <%=image_tag(image_path('default_article.jpg'), class: 'img-fluid img-thumbnail') %>
					            <% end %>
							</div>
					    	<div class="col-md-4">

					    		<span class="sub-heading text-secondary">
					    			By: <%= article.user.profile.name.nil? ? (article.user.profile.public_email.nil? ? article.user.email.split('@')[0] : article.user.profile.public_email.split('@')[0]) : article.user.profile.name %></i></span><br>
					    		<span class="sub-heading text-muted">
					    			On: <%= article.created_at.strftime("%b %d, %Y") %></span>
					    	</div>
						    <div class="card-text col-md-5 ">
						    	<% if article.tag_list.present? %>
					              	<ul class="tags float-right">Tags:
					                	<%= raw article.tag_list.map { |t| %>
					                    <span class="tag-text"><%= t %></span><% }.join(' ') %>
					              	</ul>
				             	<% end %>
				          	</div>
				          	

					  	</div>
				  	<!-- </a>   -->
			   	</div><br>
		<% end %>
	<% end %>
</div>

<div class="top10">
      <%= will_paginate @articles, renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>
</div>