<div class="col-md-6">
    <h2 class="mb-4">Latest Posts</h2>
</div>
<div class="col-md-12 col-lg-8 main-content">
    <div class="row">
        <% @articles.each do |article| %>
        <div class="col-md-6">
            <a href="<%= article_path(article.id) %>" class="blog-entry element-animate" data-animate-effect="fadeIn">
                <%= image_tag(image_path('img_1.jpg')) %>
                <div class="blog-content-body">
                    <div class="post-meta">
                        <h2><%= article.title %></h2>
                      
                        <span class="mr-2">Tags: <%= article.tag_list %></span> 
                    
                    </div>
                
                </div>
            </a>
        </div>
        <% end %>
    </div>

    <%= will_paginate @articles, renderer: BootstrapPagination::Rails, previous_label: 'Older', next_label: 'Newer' %>

  <!-- <div class="row mt-5">
    <div class="col-md-12 text-center">
      <nav aria-label="Page navigation" class="text-center">
        <ul class="pagination">
          <li class="page-item  active"><a class="page-link" href="#">&lt;</a></li>
          <li class="page-item"><a class="page-link" href="#">1</a></li>
          <li class="page-item"><a class="page-link" href="#">2</a></li>
          <li class="page-item"><a class="page-link" href="#">3</a></li>
          <li class="page-item"><a class="page-link" href="#">4</a></li>
          <li class="page-item"><a class="page-link" href="#">5</a></li>
          <li class="page-item"><a class="page-link" href="#">&gt;</a></li>
        </ul>
      </nav>
    </div>
  </div> -->
</div>

                    