
<div class="col-md-12 col-lg-12 main-content">
    <div class="row">
        <%= render '/articles/shared/actions' %>
    </div>

    <div class="row">
      <% unless @articles.empty? %>

        <% @articles.each do |article| %>
          <div class="col-md-4">
            <a href="<%= article_path(article.slug ? article.slug : article.id) %>" class="blog-entry element-animate" data-animate-effect="fadeIn" >
              <div>
                <% if article.image.present? && !article.image.image_file_name.nil? %>
                  <%= image_tag article.image.image.url, class: 'p-0 col-md-12', height: '120'%>
                <% else %>
                  <%=image_tag(image_path('default_article.jpg'), class: 'p-0 col-md-12', height: '120') %>
                <% end %>  
              </div>

              <div class="blog-content-body" id="single-article" style="height: 100px;">
                <div class="post-meta">
                  <div class="row">
                      <div class="col-md-8 text-truncate">
                        <h2><%= article.title %></h2>
                      </div>
                      <div class="col-md-4 text-truncate">
                        <div class="float-left"><i class="fa fa-star text-warning"></i></div>
                        <div class="float-left">
                          <%= article.content_average.nil? ? 0.0 : article.content_average.avg.floor(1) %>
                        </div>
                      </div>
                  </div>
                  <div class="text-truncate article-info">
                    <div class="author mx-2 float-left">

                      <% if article.user.profile.image.present? && !article.user.profile.image.image_file_name.nil? %>
                        <%= image_tag article.user.profile.image.image.url, class: "author-img" %>
                      <% else %>
                        <%= image_tag(image_path('avatar.jpg'), class: "author-img") %>
                      <% end %>

                    </div>
                    <div class="float-left">
                      &bullet;<span class="mx-1 sub-heading"><%= article.created_at.strftime("%b %d, %Y") %></span>&bullet;
                    </div>
                    <div class="ml-2 float-left">
                      <i class="fa fa-comments">&nbsp;<%= article.comments.count %></i>
                    </div>
                  </div>
                </div>
              </div>
              
            </a>
          </div>
        <% end %>

      <% else %>

        <div class="not-found">
          <span>No Articles Found</span>
        </div>

      <% end %>
    </div>

    <div class="mt-5 float-right">
      <%= will_paginate @articles, renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>
    </div>
  </div>

                    