<div class="col-md-8">
    <h2 class="mb-4">Latest Posts</h2>
</div>

<div class="col-md-12 col-lg-12 main-content">
    <div class="row">
        <% if @articles.empty? %>
          <div class="not-found">
            <span>No Articles Found</span>
          </div>
          <% else %>
              <% @articles.each do |article| %>
                  <div class="col-md-6">
                      <a href="<%= article_path(article.id) %>" class="blog-entry element-animate" data-animate-effect="fadeIn">
                        <div class="float-right-star" style="float: right;"><%= rating_for article, "content", disabled: true, imdb_avg: true %></div>
                        <% if article.image.present? %>
                          <%= image_tag "/articles/images/#{article.image.name}", class: 'img-size' %>
                        <% else %>
                          <%=image_tag(image_path('img_1.jpg')) %>
                        <% end %>
                      <div class="blog-content-body">
                          <div class="post-meta">
                            <span class="author mr-2"><%=image_tag(image_path('img_1.jpg')) %> <%= article.user.email %></span>
                              <h2><%= article.title %></h2>
                              <span class="mr-2">Tags: <%= raw article.tag_list.join(' | ') %></span> 
                          </div>
                      </div>
                      </a>
                  </div>
              <% end %>
          <% end %>
    </div>
    <div class="top10">
      <%= will_paginate @articles, renderer: BootstrapPagination::Rails, previous_label: 'New', next_label: 'Old' %>
    </div>
    
</div>

                    