<div class="col-md-12 col-lg-12 main-content bottom10 menu-font">
  <div class="row">
    <% unless current_user.nil? %>
      <% if current_user == @article.user || current_user.has_role?(:admin) %>
        <div class="col-md-10">
          <srrong>Status: </srrong>
          <% if @article.status == false %>
            <span class="text-warning"><i class="fa fa-clock-o"></i>&nbsp;Pending</span>
          <% else %>
            <span class="text-success"><i class="fa fa-check"></i>&nbsp;Approved</span>
          <% end %>
        </div>
        <div class="col-md-2 float-right">
          <div class="row">
          <div class="col-md-6">
            <span class="icon-size"><%= link_to ' ', edit_article_path(@article), class: 'fa fa-pencil-square-o text-info' %> </span>
          </div>
          
          <div class="col-md-6">
            <span class="icon-size"><%= link_to ' ', article_path, method: :delete, data: { confirm: 'Are you sure to delete ?'}, class: 'fa fa-trash-o text-danger' %> </span>
          </div>
          </div>
        </div>        
      <% end %> 
    <% end %>
  </div>
  <br>
  <div class="clearfix"></div>
  <% if @article.image.present? %>
    <div id="thumbnail-div" class="row">
      <%= image_tag "/articles/images/#{@article.image.name}", class: 'img-size' %>
    </div>
  <% end %>
  <div class="row float-right"><%= rating_for @article, "content", disable_after_rate: true %></div><br>
  <div class="text-center heading article-title-font"><%= @article.title %></div>
  <div>
    <ul class="tags">Tags:
      <%= raw @article.tag_list.map { |t| link_to t, tag_path(t), class: "tag"}.join(' ') %>
    </ul>
  </div>

  <div class="top10 content-font"><%= raw @article.content %></div>  
  
  <br/>
</div>
<div class="section comments">
  <div class="container">

      <h2 class="subtitle is-5">
      <strong><%= $total_comments = @article.comments.count %> Comments</strong> 
    <hr>
    <%# render @article.comments, article: @article%>
    <ul  class="comment-list"><%= render(partial: 'comments/comment', collection: @article.comments) %></ul>
    <div class="comment-form bottom10">
      <!-- <hr/> -->
      <h3 class="subtitle is-3">Post a comments</h3>
      <%= render 'comments/form', article: @article %>
    </div>
  </div>
</div>

