<div class="col-md-12 col-lg-12 main-content bottom10 menu-font">
  <% unless current_user.nil? %>
    <% if current_user == @article.user || current_user.has_role?(:admin) %>
      <% if @article.status == false %>
        <span class="glyphicon text-warning">&#xe082;</span> Pending
      <% else %>
        <span class="glyphicon glyphicon-ok"></span> Approved
      <% end %>
      <div>
        <br/>
        <%= link_to 'Edit Article', edit_article_path(@article), class: 'btn btn-light' %> 
        <%= link_to 'Delete Article', article_path, method: :delete, data: { confirm: 'Are you sure to delete ?'}, class: 'btn btn-danger' %> 
      </div> 
    <% end %> 
  <% end %>
  <% if @article.image.present? %>
    <div id="thumbnail-div" class="row">
      <%= image_tag "/articles/images/#{@article.image.name}", class: 'img-size' %>
    </div>
  <% end %>
  <div class="center heading new-article"><%= @article.title %></div>
  
  <div class="left top10"><%= raw @article.content %></div>
  <div>
    <ul class="tags">Tags:
      <%= raw @article.tag_list.map { |t| link_to t, tag_path(t), :class => "tag"}.join(' ') %>
    </ul>
  </div>
  
  <% unless current_user.nil? %>
    <% if current_user == @article.user || current_user.has_role?(:admin) %>
      <strong>Status:</strong>
      <% if @article.status == false %>
         Pending
      <% else %>
         Approved
      <% end %>
      <div>
        <br/>
        <%= link_to 'Edit Article', edit_article_path(@article), class: 'btn btn-light' %> 
        <%= link_to 'Delete Article', article_path, method: :delete, data: { confirm: 'Are you sure to delete ?'}, class: 'btn btn-danger' %> 
      </div> 
    <% end %> 
  <% end %>
  Your Rating:<%= rating_for @article, "content", disable: true, readonly: true %>
  <br/>
</div>
<hr>
<div class="section comments">
  <div class="container">
    <h2 class="subtitle is-5"> 
      Comments
    </h2>
    <%# render @article.comments, article: @article%>
    <ul  class="comment-list"><%= render(partial: 'comments/comment', collection: @article.comments) %></ul>
    <div class="comment-form bottom10">
      <!-- <hr/> -->
      <h3 class="subtitle is-3">Post a comments</h3>
      <%= render 'comments/form', article: @article %>
    </div>
  </div>
</div>

