<div class="col-md-12 col-lg-11 main-content bottom10">
    <div class="center heading"><%= @article.title %></div>
    <div class="left"><%= raw @article.content %></div>
    <div>Tags: <%= raw @article.tag_list.map { |t| link_to t, tag_path(t) }.join(', ') %></div>
        
    <% if current_user == @article.user || current_user.has_role?(:admin) %>
        <strong>Status:</strong>
        <% if @article.status == false %>
           Pending
        <% else %>
           Approved
        <% end %>
        <div>
          <br />
          <%= link_to 'Edit Article', edit_article_path(@article), class: 'btn btn-light' %> 
          <%= link_to 'Delete Article', article_path, method: :delete, data: { confirm: 'Are you sure to delete ?'}, class: 'btn btn-danger' %> 
        </div> 
    <% end %> 
    <%= rating_for @article, "content" %>
</div>

<div class="section comments width60">
  <div class="container">
    <h2 class="subtitle is-5">
      <strong>
        <%= @article.comments.count %>
      </strong> 
      Comments
    </h2>
    <%= render @article.comments, article: @article%>
    <div class="comment-form bottom10">
      <hr />
      <h3 class="subtitle is-3">Leave a reply</h3>
      <%= render 'comments/form', article: @article %>
    </div>
  </div>
</div>
