<div class="col-md-12 col-lg-12 main-content bottom10 menu-font" >

  <!-- START Article Status Modificatin Section -->
  <div class="row" >
    <% unless current_user.nil? %>
      <% if current_user == @article.user || current_user.admin? %>

        <div class="col-md-10">
          <div>
            <srrong>Status: </srrong>
            <% if @article.pending? %>
              <span class="text-danger"><i class="fa fa-clock-o"></i>&nbsp;<%= @article.status.humanize %></span>
            <% elsif @article.moderator_approved? %>
              <span class="text-warning"><i class="fa fa-check"></i>&nbsp;<%= @article.status.humanize %></span>
            <% else %>
              <span class="text-success"><i class="fa fa-check"></i>&nbsp;<%= @article.status.humanize %></span>
            <% end %>
          </div>
          
        </div>
        
        <div class="col-md-2">
          <div class="row float-right">
              <% if current_user == @article.user %>
              <span class=""><%= link_to "", edit_article_path(@article), class: 'fa fa-pencil-square-o text-info icon2', title: 'Edit Article', style: 'vertical-align: middle;' %> </span>&nbsp;|&nbsp;
              <% end %> 
              <span class=""><%= link_to "", article_path, method: :delete, data: { confirm: 'Are you sure to delete ?'}, class: 'fa fa-trash-o text-danger icon2', title: 'Delete Article', style: 'vertical-align: text-bottom;' %> </span>
          </div>
        </div>

      <% end %> 
    <% end %>
  </div>
  <!-- END Article Status Modificatin Section -->

  <!-- START Article Main Section -->
  <div class="clearfix"></div>
  <% if @article.image.present? && !@article.image.image_file_name.nil? %>
    <div id="thumbnail-div" class="row">
      <%= image_tag @article.image.image.url, class: 'img-size' %>
    </div>
  <% else %>
    <div id="thumbnail-div" class="row">
      <%= image_tag(image_path('default_article.jpg'), class: 'img-size') %>
    </div>  
  <% end %>

  <div class="row">
    <div class="col-md-6">
      <div class="float-left">
      Overall Rating : <%= @article.content_average.nil? ? 0.0 : @article.content_average.avg.floor(1) %>
    </div>
    <div class="float-left">
      <i class="fa fa-star text-warning ml-1"></i>
    </div>
    </div>
    <% unless @article.user == current_user %>
      <div class="col-md-6 text-right"><%= rating_for @article, "content", disable_after_rate: true %></div><br>
    <% end %>
  </div>
  
  <div class="text-center heading article-title-font"><%= @article.title %></div>
  <div>
    <% unless @article.tag_list.empty? %>
      <ul class="badge-pill">Tags:
        <%= raw @article.tag_list.map { |t| link_to t, tag_path(t), class: "tag-text"}.join(' ') %>
      </ul>
    <% end %>
  </div>
  <div class="mt-4 content-font" id="article-content"><%= raw @article.content %></div>
  <!-- END Article Main Section -->

</div>


<!-- START Comment Section -->
<div class= "comment-section comment-font">
  <% if signed_in? %> 
    <h5>Comment on Article</h5>
    <%= render 'comments/form' %>
    <div class="float-right">
      <a data-toggle="modal" data-target="#report"><i class="fa fa-exclamation-circle text-danger icon2"></i> <span class="icon2">Report this article</span> </a>
    </div>
  <% else %>
    <%= link_to "Sign up/Log in to Comment..", new_user_session_path, class: "text-danger standard-link" %>
  <% end %>
  <% no_of_comments = @article.comments.count %>
  <h5 id="noOfComments">
    <% if no_of_comments > 0 %><br/><hr/>
    <%= pluralize(no_of_comments, 'Comment') %>
    <% end %>
  </h5>
  
  <div class="comment-list">
    <%= nested_comments @article.comments.arrange(:order => :created_at)%>
  </div>
</div>
<!-- END Comment Section -->



<div class="modal fade" id="report">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Write Report</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <%= form_for [@article, @report = @article.reports.build],html: { id: :report_form } do |f| %>
        <div class="modal-body">
          <div class="form-group">
            <label>If you find content on Medium which you consider to be spam, harassment, or which violates Medium's Rules, please report it to us in product or email us with details. </label>
            <%= f.text_area :description,
                              required: false,
                              class: 'form-control',
                              rows: 10 %> 
            <p class='error' id="report-error"><%= show_errors(@report , :description) %></p> 
          </div>
        </div>
        <div class="modal-footer text-center">
          <%= f.button 'Report', type: :button, class: 'btn btn-success', id: "report-button" %>
        </div>
      <% end %>

    </div>
  </div>
</div>
