<div class="col-md-12 pb-4">
	<% if action_name == 'index' %>
		<div class="col-md-12 float-left">
			<% search_key = @tag.present? ? @tag : (@search.present? ? @search : nil) %>
			<% if search_key %>
				<span class="head-article">Search Results for " <%= search_key %> "</span>
			<% else %>
				<span class="head-article">Latest Articles</span>	
			<% end %>
		</div>
	<% elsif action_name == 'user_articles' %>
		<div class="col-md-8 float-left">
			<span class=" head-article">My Articles</span>
		</div>
			
		<div class="btn-group float-right">
		  <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		    Status
		  </button>
		  <div class="dropdown-menu">
		    <%= link_to 'All', articles_user_articles_path, class: 'dropdown-item' %>
            <%= link_to 'Approved', articles_user_articles_path(:val => 2), class: 'dropdown-item' %>
            <%= link_to 'Reviewed', articles_user_articles_path(:val => 1), class: 'dropdown-item' %>
            <%= link_to 'Pending', articles_user_articles_path(:val => 0), class: 'dropdown-item' %>
            <%= link_to 'Declined', articles_user_articles_path(:val => 3), class: 'dropdown-item' %>
		  </div>
		</div>
	<% else %>
		<div class="col-md-8 float-left ">
			<span class="head-article">Articles</span>
		</div>
	<% end %>
</div>
<div class="clearfix"></div>

