<div id="article-reports">
    <div class="row">
        <div class="col-md-10">
            <h2 class="ml-3"><%= link_to @article.title, @article, class: 'text-info ' %></h2>
        </div>
        <div class="col-md-2 text-center">
            <span class="icon2 ml-4">
                <%= link_to '', articles_modify_status_path(:id => @article, :status => :declined), class: 'fa fa-ban text-warning', style: 'vertical-align: middle;', title: 'Decline Article' %> 
            </span>
            <span class="icon2 ">
                | <%= link_to '', article_path(@article), method: :delete, data: { confirm: 'Are You Sure To Delete This Article ?'}, class: 'fa fa-trash text-danger', style: 'vertical-align: middle;', title: 'Delete Article' %> 
            </span>     
        </div>
        
    </div>

    <div>
        <% @reports.each do |report| %>
            <div class="col-sm-12 report-div mb-5" id="report-<%=report.id%>">
                <div data-spy="scroll" class="tabbable-panel text-dark">
                    <div class="tabbable-line bg-light">
                        <div class="row">
                            <% report_user = report.user %>
                            <span class="col-md-11">Reported By : <%= link_to get_user_name(report_user.profile), profile_path(report_user.profile.slug ? report_user.profile.slug : report_user.profile.id), target: '_blank', class: "standard-link text-info" %>
                        </span>
                        <span class="icon2 col-md-1">
                            <%= link_to '', article_report_path(id: report.id), method: :delete, class: 'fa fa-trash text-danger delete-btn', style: 'vertical-align: middle;', data: { confirm: 'Are You sure to delete this report ?'}, title: 'Delete Report', remote: true %> 
                        </span>
                            
                        </div>
                        <div class="tab-content">
                            <div class="tab-pane active " id="tab_default_1">
                                <div class="user-content">
                                    <span><u>Description:</u></span><br>
                                    <span class="wrap-text"><%= report.description %></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        <% end %>
    </div>
    <% if @reports.empty? %>
        <div class="text-danger text-center mt-5">
            No Reports Found    
        </div>
    <% end %>
</div>
