<div>
    <div>
        <span>
            <%= link_to @article.title, @article, class: 'text-info article-title-font' %>
        </span>
        <div class="float-right">
            <span class=" icon2 ">
                <%= link_to '', articles_modify_status_path(:id => @article, :status => :declined), class: 'fa fa-ban text-warning', style: 'vertical-align: middle;', title: 'Decline Article' %> 
            </span>
            <span class="icon2 ">
                | <%= link_to '', article_path(@article), method: :delete, data: { confirm: 'Are You Sure To Delete This Article ?'}, class: 'fa fa-trash text-danger', style: 'vertical-align: middle;', title: 'Delete Article' %> 
            </span>     
        </div>
        
    </div>

    <div>
        <% @reports.each do |report| %>
            <div class="col-sm-12 report-div mb-5" id="report-<%=report.id%>">
                <div data-spy="scroll" class="tabbable-panel text-dark">
                    <div class="tabbable-line bg-light">
                        <div class="row">
                            <span class="col-md-11">Reported By : <%= link_to (report.user.profile.name.nil? ? (report.user.profile.public_email.nil? ? report.user.email.split('@')[0] : report.user.profile.public_email.split('@')[0]) : report.user.profile.name), profile_path(report.user.profile.slug ? report.user.profile.slug : report.user.profile.id), target: '_blank', class: "standard-link text-info" %>
                        </span>
                        <span class="icon2 col-md-1">
                            <%= link_to '', article_report_path(id: report.id), method: :delete, class: 'fa fa-trash text-danger delete-btn', style: 'vertical-align: middle;', title: 'Delete Report', remote: true %> 
                        </span>
                            
                        </div>
                        <div class="tab-content">
                            <div class="tab-pane active " id="tab_default_1">
                                <div class="user-content">
                                    <span><u>Description:</u></span><br>
                                    <%= report.description %>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        <% end %>
    </div>
</div>

