
<div class="col-md-12">
  <!-- START Search bar -->
  <div class=" search-form-wrap bg-transparent left4 ">
    <%= form_tag articles_path, method: 'get', class: "search-form", id: 'search-form' do %> 
      <div class="form-group row ">
        <div id="test"></div>
          <div class="col-md-12">
            <div id="custom-search-input">
              <div class="input-group">
                <div>
                  <%= autocomplete_field_tag 'search', '', autocomplete_article_title_articles_path, class: 'col-md-12' %>
                </div>
                <span class="input-group-btn ml-auto">
                  <%= button_tag(type: 'submit', class: 'btn btn-info btn-lg') do %>
                    <i class="fa fa-search"></i>
                  <% end %>
                </span>
              </div>
            </div>
          </div>
      </div>
    <% end %>
  </div>
  <!-- END Search bar -->

  <!-- Notice Section -->
  <% if signed_in? && current_user.admin? && @total > 0  %>
    <div class="sidebar-box p-3" id="notification-div">
      <h3 class="heading">Notifications</h3>
      <div class="text-center" id="notification-counts">
        <span class="text-danger menu-font"><%= pluralize(@total, ' new Report') %></span>
      </div>  
      <div class="row" id="notification-items">
        <% @new_reports.each do |report| %>
          <div class="col-md-7 text-truncate">
            <%= link_to report.article.title, article_reports_path(report.article), class: 'text-info' %>:
          </div>
          <div class="col-md-3">
            <%= pluralize( report.article.reports.count, 'Report') %>
          </div><br>
        <% end %>                      
      </div>
    </div>
  <% end %>
  <!-- End of Notice Section -->

  <!-- START Author Section -->
  <% if action_name == 'show' %>
    <% unless @article.nil? %>
      <% unless @author.profile.nil? %>
        <div class="sidebar-box top10">
          <div class="bio text-center">
            <% if @author.profile.image.present? && !@author.profile.image.image_file_name.nil? %>
              <%= image_tag @author.profile.image.image.url %>
            <% else %>
              <%= image_tag(image_path('avatar.jpg')) %>
            <% end %>
            <div class="bio-body">
                <h2>Author</h2>
                <%= @author.profile.name.nil? ? (@author.profile.public_email.nil? ? @author.email.split('@')[0] : @author.profile.public_email.split('@')[0]) : @author.profile.name %>
                <p><%= link_to 'Read my bio', profile_path(@author.profile.slug ? @author.profile.slug : @author.profile.id), class: "btn btn-primary btn-sm rounded" %></p>
                <div>
                  <% if @author.profile.facebook.present? %>
                      <span class="mx-2"><%=link_to '', @author.profile.facebook, class: 'fa fa-facebook', style: 'color:blue' %></span>
                  <% end %>
                  <% if @author.profile.twitter.present? %>
                      <span class="mx-2"><%=link_to '', @author.profile.twitter, class: 'fa fa-twitter', style: 'color:skyblue' %></span>
                  <% end %>
                  <% if @author.profile.instagram.present? %>
                      <span class="mx-2"><%=link_to '', @author.profile.instagram, class: 'fa fa-instagram', style: 'color:#ec7f9e' %></span>
                  <% end %>
                  <% if @author.profile.linkedin.present? %>
                      <span class="mx-2"><%=link_to '', @author.profile.linkedin, class: 'fa fa-linkedin', style: 'color:darkblue' %></span>
                  <% end %>
                  <% if @author.profile.youtube.present? %>
                      <span class="mx-2"><%=link_to '', @author.profile.youtube, class: 'fa fa-youtube', style: 'color:red' %></span>
                  <% end %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  <% end %>
  <!-- END Author Section -->
  
  <!-- START Popular Aricle Section -->
  <div class="sidebar-box col-md-12 padding3">
    <h3 class="heading">Popular Posts</h3>
    <div class="post-entry-sidebar">
      <ul id="popular-articles">
        <% @popular_articles.each do |article| %> 
          <li>
            <a href="<%=article_path(article)%>">
              <% article_image = article.image %>
              <% if article_image.present? && !article_image.image_file_name.nil?  %>
                <%= image_tag article_image.image.url, height: '70', width: '100' %>
              <% else %>
                <%= image_tag(image_path('default_article.jpg'), height: '70', width: '100') %>
              <% end %>

              <div class="text pd-l-5">
                <h4><%= article.title %></h4>
                <div class="post-meta">
                  <span class="mr-2">
                    <% article_user = article.user %>
                    <%= article_user.profile.name.nil? ? (article_user.profile.public_email.nil? ? article_user.email.split('@')[0] : article_user.profile.public_email.split('@')[0]) : article_user.profile.name %>
                  </span>
                </div>
              </div>
            </a>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
  <!-- END Popular Aricle Section -->

  <!-- START Tag Section -->
  <div class="sidebar-box padding3" id="tag-section">
    <h3 class="heading">Tags</h3>
    <ul class="tags" id="tag-item">
      <%= raw ActsAsTaggableOn::Tag.order('taggings_count DESC').limit(40).map { |t| link_to t, tag_path(t.name), :class => "tag-text"}.join(' ') %>
    </ul>
  </div>
  <!-- END Tag Section -->

  
</div>
