
<div class="col-md-12 sidebar padding2">
  <% unless has_role?(:admin) %>
    <div class="sidebar-box search-form-wrap">
      <form action="#" class="search-form">
        <div class="form-group">
          <span class="icon fa fa-search"></span>
          <input type="text" class="form-control" id="s" placeholder="Type a keyword and hit enter">
        </div>
      </form>
    </div>
  <% end %>
  <!-- END sidebar-box -->
  <% unless @article.nil? %>
    <div class="sidebar-box top10">
      <div class="bio text-center">
        <%= image_tag(image_path('person_2.jpg')) %>
        <div class="bio-body">
          <h2><%= @article.user.name %></h2>
          <p> <%=@article.user.public_email %></p>
          <p><a href="#" class="btn btn-primary btn-sm rounded">Read my bio</a></p>
          <p class="social">
            <a href="#" class="p-2"><span class="fa fa-facebook"></span></a>
            <a href="#" class="p-2"><span class="fa fa-twitter"></span></a>
            <a href="#" class="p-2"><span class="fa fa-instagram"></span></a>
            <a href="#" class="p-2"><span class="fa fa-youtube-play"></span></a>
          </p>
        </div>
      </div>
    </div>
  <% end %>
  <!-- END sidebar-box -->  
  <div class="sidebar-box col-md-12 padding3">
    <h3 class="heading">Popular Posts</h3>

    <div class="post-entry-sidebar">
      <ul>
        <% @popular_articles.each do |article| %> 
          <li>
            <a href="<%=article_path(article)%>">
              <% if article.image.present? %>
                <%= image_tag "/articles/images/#{article.image.name}" %>
              <% else %>
                <%= image_tag(image_path('img_2.jpg')) %>
              <% end %>
              <div class="text">
                <h4><%= article.title %></h4>
                <div class="post-meta">
                  <span class="mr-2"><%= article.user.name? ? article.user.name : article.user.email.split('@')[0] %></span>
                </div>
              </div>
            </a>
          </li>
        <% end %>
      </ul>
    </div>
  </div>

  <div class="sidebar-box padding3">
    <h3 class="heading">Tags</h3>
    <ul class="tags">
      <%= raw ActsAsTaggableOn::Tag.all.map { |t| link_to t, tag_path(t.name), :class => "tag"}.join(' ') %>
    </ul>
  </div>
</div>
