<!DOCTYPE html>

<html lang="en">
  <head>
    <title>GeeksHub</title>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>

    <meta content="width=device-width, initial-scale=1" name="viewport" />

    <style type="text/css">
      @media only screen and (max-width: 768px) {
        /* For mobile phones: */
        [class*="col-"] {
          width: 100%;
        }
      }
      @media only screen and (min-width: 768px) and (max-width: 1048px) {
        /* For mobile phones: */
        [id*="single-article"] {
          height: 140px;
        }
      }
      
    </style>
  </head>
  <body>
    <div>
      
      <div>
        <%= render partial: 'layouts/header' %>  
      </div>
      
      <div class="notice-div mx-5">
        <% unless notice.nil? %>
          <div class="alert alert-success alert-dismissible custom-notice align-center notice" >
            <a href="#" class="float-right text-success" data-dismiss="alert" aria-label="close"><b>&times;</b></a>
              <%= notice %>
          </div>
        <% end %>

        <% unless alert.nil? %>
          <div class="alert alert-danger alert-dismissible custom-alert align-center notice">
            <a href="#" class="float-right text-danger" data-dismiss="alert" aria-label="close"><b>&times;</b></a>
            <%= alert %>
          </div>
        <% end %>
      </div>

      <div class="site-section py-sm">
        <div class="container-fluid">
          <div class="row col-md-12 blog-entries">
            <div class="col-md-8 bottom10 p-4" style="background-color: white;">
              <%= yield %>  
            </div>
            <div class="col-md-4">
              <%= render partial: 'layouts/sidebox' %>  
            </div>
            
          </div>
        </div>
      </div>
    
      <%= render partial: 'layouts/footer' %>
      <!-- END footer -->
    </div>
    
    <!-- loader -->
     <!-- <div id="loader" class="show fullscreen">
        <svg class="circular" width="48px" height="48px">
            <circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee"/>
            <circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#f4b214"/>
        </svg>
     </div>
 
 -->
    <%= javascript_include_tag 'jquery-3.2.1.min.js' %>
    <%= javascript_include_tag 'jquery-migrate-3.0.0.js' %>
    <%= javascript_include_tag 'popper.min.js' %>
    <%= javascript_include_tag 'bootstrap.min.js' %>
    <%= javascript_include_tag 'owl.carousel.min.js' %>
    <%= javascript_include_tag 'jquery.waypoints.min.js' %>
    <%= javascript_include_tag 'jquery.stellar.min.js' %>
    <%= javascript_include_tag 'jquery.raty.js' %>
    <%= javascript_include_tag 'main' %>

  </body>
</html>